body {
    background-image: url(http://bdbackgrounds.com/media/zoo/images/1-springgreenseamless_ebe5092a74a710934c684feb420e981c.jpg)
}

.Box {
    text-align : center;
    margin-top : 300px ; 
    height: 35px
}

.Login {
    color: rgb(0, 0, 0);
    font :  Arial ;
    font-size: 18px;
    padding: 5px 40px ;
    background-color: #ffc400 
}

.Input {
     width : 230px ;
     height : 35px
}